
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_MyLayout</title>
</head>
<body>
    <table style="width:50%">
        <tr>

            <th>Menu</th>
            <th>Contents</th>

        </tr>
        <tr>

            <th>@Html.Partial("_MyPartialLayout")</th>
            <th>@RenderBody()</th>

        </tr>
    </table>


        <div>

        </div>
</body>
</html>
