


<ul>

    <li>@Html.ActionLink("Home","home")</li>
    <li>@Html.ActionLink("About","about")</li>
    <li>@Html.ActionLink("Contacts","contact")</li>
    <li>@Html.ActionLink("Career","career")</li>


</ul>
